.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heroVideos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroVideo {
  max-width: 100%;
}
